body {
  background: lightblue;
  font-size: 12px;
}

#login {
  padding: 0 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0 50px;
  background: whitesmoke;
}

.tripTableHeaders {
  display: flex;
  background: white;
  justify-content: space-between;
  font-weight: bold;
}

.tripTableHeaders p {
  width: 5%;
}

#trips {
  padding: 50px;
}

.modalScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  opacity: .8;
  z-index: 1;
}

.modalBox {
  position: fixed;
  height: 350px;
  width: 500px;
  top: 100px;
  left: 50%;
  margin-left: -250px;
  padding: 30px;
  background: white;
  z-index: 12;
  border: 1px solid black;
}

.modalBoxHeader {
  display: flex;
}

.closeModal {
  margin-left: auto;
}

.closeModal:hover {
  cursor: pointer;
}

.modalBox input,
.modalBox select {
  box-sizing: border-box;
  display: block;
  margin: 10px auto;
  width: 100%;
  height: 40px;
}

.modalBox button {
  box-sizing: border-box;
  display: block;
  margin: 10px auto;
  height: 40px;
  width: 200px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
}

.modalBox button:hover {
  cursor: pointer;
}

.modalScreen.closed,
.modalBox.closed {
  display: none;
}

#addTrip {
  display: block;
  border-radius: 5px;
  color: white;
  background-color: blue;
  margin-bottom: 20px;
  margin-left: auto;
}

.tripRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  border-radius: 5px;
}

.tripRow p {
  width: 15%;
}

.tripRow .actionButton {
  padding: 10px;
  width: 60px;
  border-radius: 5px;
}

.tripRow .actionButton:hover {
  cursor: pointer;
}

.tripRow .actionButton.notStarted {
  background: #CFE0FD;
}

.tripRow .actionButton.inProgress {
  background: #FFA525
}

.tripRow .actionButton.overdue {
  background: #FF5252
}

.tripRow .actionButton.complete {
  background: #4CAF4F
}
